.placeOnLetters{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.placeOnLetter{
    border: 1px solid black;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}